body {
    background-color: #fda400;
}

#logo{
    text-align: center;
}

#logo img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.cards {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    

}

@media(max-width:700px) {

    .cards {
        flex-direction: column;
        margin: 2px;
        height: 180vh;
    }

    .card {
        margin-bottom: 20px;
    }
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 190px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 3%;
    margin-left: 2%;


    font-family: roboto;
    background: white;
    text-align: center;

    transition: 0.2s ease;

    border-width: 3px; 
    border-style: solid; 
    border-color:  #000; 
    margin-bottom: 20px;
}

.card-image img {
    grid-area: image;
    width: 100%;
    height: 100%;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-text p {
    margin-top: -15px;
    color: rgb(95, 94, 94);
    font-size: 20.5px;
    font-weight: 300;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(148, 133, 133, 0.6);
}

.footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: #fda400;
    color:rgb(0, 0, 0);
    font-size: 25px;
    height: 30px;
    width: 100%;
    border-width: 1px; 
    border-style: solid; 
    border-color:  #000; 
    font-style: oblique;
    }

    input{
        text-align: center;
    }
    
    input[type="text"]{
        font-size:30px; 
        font-family: "Cinzel", Cinzel;
        font-weight: bold;
        color: #000 !important;
    }
    
    hr{
        margin-top: 70px;
    }