body {
    background-color: rgb(250, 210, 31);
}


.cards {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media(max-width:700px) {

    nav {
        display: flex;
        flex-direction: column;
        height: 110px;
    }

    .cards {
        flex-direction: column;
        margin: 2px;
        height: 180vh;
    }

    .card {
        margin-bottom: 20px;
    }
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 190px 50px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 3%;
    margin-left: 2%;


    font-family: roboto;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.2s ease;
}

.card-image img {
    grid-area: image;
    width: 100%;
    height: 100%;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-text p {
    margin-top: -15px;
    color: rgb(95, 94, 94);
    font-size: 20.5px;
    font-weight: 300;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(148, 133, 133, 0.6);
}